
@media(min-width:1200px)
{
  .first-nav-bars 
  {
    display: none;
  }
    .first-nav-bar
    {
        /* width: px; */
        height: 50px;
        gap: 0px;
        border: 0px 0px 0.5px 0px;
        opacity: 0px;

        background: #272727;
    }
    .call-us h6
    {
        padding-top: 5px;
        width: 239px;
        height:24px;
        top: 11px;
        left: 120px;
        gap: 0px;
        opacity: 0px;
        font-family:Poppins;
        font-size: 17px;
        font-weight: 500;
        line-height: 21.51px;
        text-align: left;
        color:white;

    }
    
    .facebook a
    {
        width: 8px;
        height:14px;
        top: 13px;
        left: 1234px;
        gap: 0px;
        opacity: 0px;
        font-size: 12px;
        border:1px solid white;
        padding:3px 6px;
        border-radius:50px;
        background-color: white;
        color:black;
    }
    .twitter a
    {
        width:8px;
        height:12px;
        top: 14px;
        left: 1267px;
        gap: 0px;
        opacity: 0px;
        font-size:12px;
        border:1px solid white;
        padding:3px 6px;
        border-radius:50px;
        background-color: white;
        color:black;


    }
    .pinterest a
    {
        width:8px;
        height:12px;
        top: 15px;
        left: 1300px;
        gap: 0px;
        opacity: 0px;
        font-size:12px;
        border:1px solid white;
        padding:3px 6px;
        border-radius:50px;
        background-color: white;
        color:black;



    }
    .nav-item
        {
          padding-left:5px;
          padding-right:5px;
        }
 
    /**/
    .second-nav-bar
    {
        top: 0px;
        gap: 0px;
        opacity: 0px;
        background:white;
        padding-left:30px;
        padding-right:30px;
        border-bottom:1px solid #C2C2C2;

    }

    .second-nav-bar img 
    {
        width: 194px;
        height:auto;
        top: 47px;
        left: 112px;
        gap: 0px;
        opacity: 0px;

    }    
    .home a 
    {
        width:100px;
        height:45px;
        top: 72px;
        left: 685px;
        gap: 0px;
        opacity: 0px;
        font-family:Poppins;
        font-size: 19px;
        font-weight: 400;
        line-height: 24.04px;
        text-align: left;
        color: #0F403A;
    }
    .home a:hover 
    {
        color:rgb(107,102,102);
        text-decoration: underline;
        text-decoration-color: #014138;
    }
    .aboutus a
    {
        width:120px;
        height:45px;
        top: 72px;
        left: 775px;
        gap: 0px;
        opacity: 0px;
        font-family:Poppins;
        font-size: 19px;
        font-weight: 400;
        line-height: 24.04px;
        text-align: left;
        color: #0F403A;
    }
    .aboutus a:hover
    {
        color:rgb(107,102,102);
        text-decoration: underline;
        text-decoration-color: #014138;
    }
    .contactus a
    {
        width:130px;
        height:45px;
        top: 72px;
        left: 890px;
        gap: 0px;
        opacity: 0px;
        font-family:Poppins;
        font-size: 19px;
        font-weight: 400;
        line-height: 24.04px;
        text-align: left;
        color: #0F403A;               
    }
    .contactus a:hover 
    {
        color:rgb(107,102,102);
        text-decoration: underline;
        text-decoration-color: #014138;
    }

    .booknow a 
    {
      text-decoration: none;
    }
    .booknow button 
    {
        width: 165px;
        height: 39px;
        top: 86px;
        left: 1245px;
        gap: 0px;
        border-radius: 19.5px;
        opacity: 0px;
        background-color:#0CC0F2;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 400;
        line-height:20px;
        text-align:center;
        color:white;
    }
    .img-slide
    {
        width:100%;
        height: 700px;
        gap: 0px;
        opacity: 0px;
    }
    .phone-image
    {
      display: none;
    }
    .captionslide h1 
    {
        position: absolute;
        width: 624px;
        height: 64px;
        top:200px;
        left:450px;
        gap: 0px;
        font-family: Poppins;
        font-size: 60px;
        font-weight: 700;
        line-height: 90px;
        text-align: left;
        opacity: 0px;
        color: #FFFFFF;
    }
    .captionslide h2 
    {
        position: absolute;
        width: 613px;
        height: 30px;
        top:300px;
        left:470px;
        gap: 0px;
        opacity: 0px;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        text-align: left;
        color:white;        
    }
    
    .captionslide .hr-orange 
    {
        position: absolute;
        width: 129px;
        height: 4px;
        top:350px;
        left:700px;
        gap: 0px;
        opacity:100;
        background: #F26522;
    }
    .captionslide .carousel-para1 
    {
        position: absolute;
        width: 714px;
        height: 45px;
        top:400px;
        left:420px;
        gap: 0px;
        opacity: 0px;
        font-family: Poppins;
        font-size: 30px;
        font-weight: 400;
        line-height: 45px;
        text-align: left;
        color:white;        
    }
    .captionslide .carousel-para2 
    {
        position: absolute;
        width: 420px;
        height: 35px;
        top:470px;
        left:550px;
        gap: 0px;
        opacity: 0px;
        font-family: Poppins;
        font-size: 23px;
        font-weight: 600;
        line-height: 34.5px;
        text-align: center;
        color:white;        
    }
   /**/
   .book-your-service 
   {
    position: absolute;
    width:1000px;
    height: 260px;
    top:-120px;
    left:84px;
    gap: 0px;
    border-radius: 24px;
    opacity: 0px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-left: 20px;
   }
   .book-heading h1 
   {
    margin-top:30px;
    width:1000px;
    height: 35px;
    top: 730px;
    left: 600px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 23px;
    font-weight: 800;
    line-height: 34.5px;
    text-align: center;
    color:black;
    margin-left: 150px;
   }
   .book-form
   {
    display: flex;
   }
   .book-form label 
   {

    width: 200px;
    height: 30px;
    top: 809px;
    left: 177px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    text-align:left;
    color: #999999;    
   }
   .book-form input 
   {
    width: 250px;
    height: 47px;
    top: 844px;
    left: 178px;
    gap: 0px;
    border-radius: 7px;
    opacity: 0px;
    border:none;
    background-color: #EBEBEB;
   }
   .book-sendmessage button 
   {
    width: 217px;
    height: 50px;
    top: 911px;
    left: 611px;
    gap: 0px;
    border-radius: 66px;
    opacity: 0px;
    background-color:#0CC0F2;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align:center;
    color:white;
    margin-left:530px;
   }

   /**/
   .why-choose
   {
    position: relative;
    background: linear-gradient(121.36deg, #1E80B8 16.03%, #033451 74.54%);
    width:100%;
    height: 991px;
    gap: 0px;
    opacity: 0px;
    padding-top:250px;
   }
   .why-choose-heading h1
   {
    width:1000px;
    height: 60px;
    top: 1088px;
    left: 569px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    margin-left:150px;
    color:white;    
   }

   /* .card-style 
   {
    border:3px solid transparent;
    position: relative;
    border-radius:15px;
    border-image: linear-gradient(to right,black,white);
     border-image-slice:1;
     padding: 3px;
    
   } */
  
   .why-choose-card
   {
    background-color:#242E34;
    width: 415px;
    height:200px;
    /* top: 1199px;
    left: 67px; */
    gap: 0px;
    opacity: 0px;
    border:0.5px solid transparent;
    position: relative;
    border-radius:5px;
    border-image: linear-gradient(to right,rgb(10, 10, 10),white);
     border-image-slice:1;
     padding: 3px;
    
    
    /* border-image: linear-gradient(to right,black 80%, white 50%); */
    /* border: 1px solid; */

    
    

    /*border-radius: 10px;*/

   }
   .why-choose-title 
   {
    display: flex;
    
   }
   .why-choose-title img 
   {
    width: 60px;
    height:60px;
    top: 1233px;
    left: 115px;
    gap: 0px;
     border-radius: 6px; 
    opacity: 0px;
    margin: 10px;
   }
   .why-choose-title h5 
   {
    width: 262px;
    height: 54px;
    top: 1231px;
    left: 185px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align:left;
    color:white;   
    margin-left: 20px;
    margin-top:20px; 
   }
   .why-choose-text 
   {
    width: 330px;
    height: 72px;
    top: 1305px;
    left: 109px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF; 
    margin-left: 20px;
    margin-top: 10px;   
   }

   /**/
   .repair 
   {
    height:300px;
    top: 2501px;
    gap: 0px;
    opacity: 0px;
    background: linear-gradient(93.14deg, rgba(0, 240, 255, 0.2) -9.1%, #FFFFFF 47.56%, #C9FFFF 104.22%);
   }
   .repair-heading2 h2
   {
    width:1000px;
    height: 42px;
    top: 2540px;
    left: 524px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: #0CC0F2;   
    padding-top:40px; 
    margin-left:220px;
   }
   .repair-heading1 h1
   {
    width:1000px;
    height: 45px;
    top: 2577px;
    left: 472px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    color: #000000; 
    padding-top:50px;
    margin-left:220px;   
   }
   .hr-blue 
   {
    width:90px;
    height:5px;
    top: 2629px;
    left: 690px;
    gap: 0px;
    opacity:100;
    background: #0CC0F2;
    margin-left:680px;
    margin-top:50px;
   }
    .repair-para p
   {
    width:1000px;
    height: 52px;
    top: 2646px;
    left: 186px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    line-height: 25.5px;
    text-align: center;
    color: #5E5E5E;
    padding-top:20px;
    margin-left:220px;   
   } 
   /**/
   .brand-container 
   {
        width:100%;
        height:400px;
   }
   .brands h2 
   {
    width:1000px;
    height: 60px;
    top: 2842px;
    left: 514px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    color: #11181C;
    margin-left: 220px;    
   }
   .brand-image img 
   {
    width: 189.69px;
    height:25px;
    top: 2943px;
    left: 74px;
    gap: 0px;
    opacity: 0px;
   }

   .carousel-cell img {
    max-height: 100px;
    margin: 0 auto;
  }
  /* .carousel {
    background: #EEE;
  } */
  .carousel-cell {
    width: 20%;
    padding: 10px;
  }
   /**/
   .footer-part
   {
    width:100%;
    height:300px;
    top: 3136px;
    gap: 0px;
    opacity: 0px;
    background: #11181C;
    border:1px solid white;
       }
   .footer-1 
   {
    margin-left: 20px;
   } 
   .footer-1 img 
   {
    width: 252px;
    height: 70.98px;
    top: 3217px;
    left: 44px;
    gap: 0px;
    opacity: 0px;
   }
   .footer-1 address 
   {
    width:252px;
    height: 78px;
    top: 3300px;
    left: 49.16px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 39px;
    text-align: left;
    color:white;    
   }
   .footer-2 ul 
   {
    list-style-type: none;
    
   }
   .home-footer 
   {
    text-decoration:none;
    width: 123px;
    height: 105px;
    top: 3226px;
    left: 538px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: left;
    color:white;    
   }
   .footer-3 ul
   {
    list-style-type: none;
   }
   .call-us-footer
   {
    text-decoration: none;
    width:170px;
    height: 66px;
    top: 3226px;
    left: 760px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: left;
    color:white;    
   }
   .footer-4 ul 
   {
    list-style-type: none;
   }
   .email-footer 
   {
    text-decoration: none;
    width:150px;
    height: 66px;
    top: 3226px;
    left: 997px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: left;
    color:white;    
   }
   /**/
   .last-line
   {
    width:100%;
    height:50px;
    background: #11181C;
   }
   .last-line p 
   {
    width:1000px;
    height:40px;
    top: 3480px;
    left: 509px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-left: 200px;
    color:white;    
   }

   /**/
   .experience h1
   {
    width:1000px;
    height: 60px;
    top: 1912px;
    left: 568px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    color: #11181C; 
    margin-left:140px;   
   }
   div.flip-3d {
    /* perspective: 1200px; */
    width:20%;
    display: inline-block;
    margin: 2%;
  }
  
  div.flip-3d figure {
    position: relative;
    transform-style: preserve-3d;
    transition: 1s transform;
    font-size: 1.6rem;
  }
  div.flip-3d figcaption.aaa
  {
    position: absolute;
    width: 238px;
    height: 30px;
    top:320px;
    left:30px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    color:white;
  }
  div.flip-3d figure img {
    width: 100%;
    height: auto;
  }
  
  div.flip-3d figure figcaption.rotate-print {
    position: absolute;
    width: 100%; 
    height: 100%;
    top: 0;
    transform: rotateY(.5turn) translateZ(1px);
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding-top:95%;
    opacity: 0.6;
    transition: 1s .5s opacity;
  }
  
  div.flip-3d:hover figure {
    transform: rotateY(.5turn);
  }
  
  div.flip-3d:hover figure figcaption.rotate-print {
    opacity:1;
  }
  div.flip-3d:hover figure figcaption.aaa {
    opacity:0;
  }
  
  div.flip-3d figure:after {
    content: " ";
    display: block;
    height: 8vw;
    width: 100%;
    transform: rotateX(90deg);
    background-image: radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  }
  /**/
  .aboutus-repair 
  {
    width:100%;
    height:265px;
    top: 161px;
    gap: 0px;
    opacity: 0px;
    background: linear-gradient(93.14deg, rgba(0, 240, 255, 0.2) -9.1%, #FFFFFF 47.56%, #C9FFFF 104.22%);

  }
  .about-us-content
  {
    width:100%;
    height:1000px;
    top: 400px;
    left: 1px;
    gap: 0px;
    opacity: 0px;
    background: linear-gradient(121.36deg, #1E80B8 16.03%, #033451 74.54%);

  }
  .aboutus-para
  {
    width: 657px;
    height: 384px;
    top: 512px;
    left: 743px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 21px;
    font-weight: 400;
    line-height: 31.5px;
    text-align: left;
    color:white;
  }
  .aboutus-heading1 
  {
    width:1000px;
    height: 45px;
    top: 2577px;
    left: 472px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    color: #000000; 
    padding-top:50px;
  }
  .repair-heading-aboutus h2 
  {
    width:1000px;
    height:10px;
    top: 313px;
    left: 642px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    margin-top: 20px;
    margin-left:200px;
    color: #000000;
  }

  .repair-para-aboutus p
  {
    width:1000px;
    height: 45px;
    top: 313px;
    left: 642px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    color: #000000;    
    margin-left:220px;
  }
  /**/
  .contactus-repair 
  {
    width:100%;
    height:150px;
    top: 161px;
    left: 1px;
    gap: 0px;
    opacity: 0px;
    background: linear-gradient(93.14deg, rgba(0, 240, 255, 0.2) -9.1%, #FFFFFF 47.56%, #C9FFFF 104.22%);

  }
  .contact-section {
            
    border-radius: 24px;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact-form h2 
  {
    width:400px;
    height: 35px;
    top: 406px;
    left: 336px;
    gap: 0px;
    opacity: 0px;     
    font-family: Poppins;
    font-size: 23px;
    font-weight: 800;
    line-height: 34.5px;
    text-align:center;
    color:black;
  }
  .contact-form, .contact-info {
    flex: 1;
    min-width: 300px;
    margin: 20px;
  }
  .contact-form {
    
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding:40px;
    border-radius: 10px;
  }
  .contact-form input 
  {
    width:420px;
    height: 45.15px;
    top: 489.34px;
    left: 188px;
    gap: 0px;
    border-radius: 7px;
    opacity: 0px;
    background: #EBEBEB;
    border:none;
  }
  .contact-form textarea 
  {
    width: 420px;
    height:80.15px;
    top: 489.34px;
    left: 188px;
    gap: 0px;
    border-radius: 7px;
    opacity: 0px;
    background: #EBEBEB;
    border:none;
  }
  .contact-form label 
  {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    color: #999999;
  }
  .contact-form button 
  {
    width: 217px;
    height: 50px;
    top: 1064px;
    left: 306px;
    gap: 0px;
    border-radius: 66px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align:center;
    background: #0CC0F2;
    color: #FFFFFF;
    margin-left: 100px;
    margin-top: 20px;
  }
  .contact-form button:hover
  {
    border:1px solid #0CC0F2;
    color: #0CC0F2;

  }
  
}

.contact-info h2 
{
  font-family: Poppins;
  font-size: 23px;
  font-weight: 800;
  line-height: 34.5px;
  text-align:left;
  color:black;
}
.contact-info p 
{
  font-family: Poppins;
  font-size: 23px;
  font-weight: 400;
  line-height: 34.5px;
  text-align: left;
  color: #000000;
}
.contact-info a 
{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 34.5px;
  text-align: left;
  color:black;
  text-decoration: underline;
}
.contact-info h3 
{
  font-family: Poppins;
  font-size: 23px;
  font-weight: 800;
  line-height: 34.5px;
  text-align: left;
}
.contact-info ul 
{
  font-family: Poppins;
  font-size: 23px;
  font-weight: 400;
  line-height: 34.5px;
  text-align: left;

}
   
     .contactus-twitter 
    {
        top: 14px;
        left: 1267px;
        gap: 0px;
        opacity: 0px;
        border-radius:30px;
        padding:0px 4px;
        background-color: #100f0f;
        


    }  
   

   @media screen and (min-width: 360px) {
    div#flip-3d {
      perspective-origin: center top;
    }
    div#flip-3d figure {
      display:flex;
      width: 50%;
      margin: 0 auto;
      margin-bottom: 12vw;
    }
    div#flip-3d figure:last-child {
      display: none;
    }
}